<style>
    .reviews-container {
        width: 100%;
        margin-top: 6rem;
    }

    .reviews-title {
        font-size: 1.5rem;
    }

    .review-form {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: 1rem;
    }

    .review-form label {
        font-weight: bold;
    }

    .review-form textarea {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

    review-form select {
        width: 50%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }

    .review-form button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #45EDAD;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .review {
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .review strong {
        font-weight: bold;
    }

    .edit-pen {
        color: blue;
        cursor: pointer;
    }
</style>

<div class="reviews-container">
    <h2 class="reviews-title"> Share your opinion on this product: </h2>

    {% if request.user.is_authenticated %}
    <form method="post" class="review-form">
        {% csrf_token %}
        <div>
            <label for="rating">Rating</label><br>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div>
            <label for="content">Comment</label><br>
            <textarea name="content" id="content" rows="5" cols="50"></textarea>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    {% endif %}

    {% for review in item.reviews.all %}
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between review " id="review-{{ review.id }}">
        <div>
            <strong>Left on:</strong> {{ review.created|date:"Y-m-d" }}<br>
            <strong>By:</strong> {{ review.author.username }}<br>
            <br>
            <strong>Rating:</strong> {{ review.rating }}/10<br>
            <strong>Comment:</strong><br>
            {{ review.content }}
        </div>

    </div>
    {% endfor %}
</div>