{% load static %}
<link rel="stylesheet" href="{% static 'reviews/css/review.css' %}">

<div class="reviews-container">
    <h2 class="reviews-title"> Share your opinion on this product: </h2>

    {% if request.user.is_authenticated %}
    <form method="post" class="review-form">
        {% csrf_token %}
        <div>
            <label for="rating">Rating</label><br>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div>
            <label for="content">Comment</label><br>
            <textarea name="content" id="content" rows="5" cols="50"></textarea>
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
    {% endif %}

    {% for review in item.reviews.all %}
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between review " id="review-{{ review.id }}">
        <div>
            <strong>Left on:</strong> {{ review.created|date:"Y-m-d" }}<br>
            <strong>By:</strong> {{ review.author.username }}<br>
            <br>
            <strong>Rating:</strong> {{ review.rating }}/10<br>
            <strong>Comment:</strong><br>
            {{ review.content }}
        </div>

    </div>
    {% endfor %}
</div>