{%  extends "store/base.html" %}

{% load static %}



{% block content %}

    <br>
    <div class="container bg-white shadow-md p-3">
        <h4>Welcome, {{ user.username }}!</h4>

        <hr>

        <h6> My dashboard </h6>

        <a href="{% url 'account:logout' %}">
        <button class="btn btn-primary">
            Logout
            </button>
        </a>

        <a href="{% url 'account:manage_profile' %}">
            <button class="btn btn-success">
                Manage my profile
                </button>
        </a>
        
        <a href="{% url 'account:delete_account' %}">
            <button class="btn btn-warning">
                Delete my account
                </button>
        </a>

    </div>
{% endblock %}