{% extends "store/base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <main class="pt-5">

        <div class="row g-3">

            <div class="col-md-5 col-lg-5 order-md-first bg-light">

                <img class="img-fluid mx-auto d-block" alt="{{item.name}}" src="{{item.image.url}}">
                <!-- Product image -->

            </div>

            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">

                <h1 class="mb-0 h4"> {{item.name}}</h1>

                <strong>{{item.brand}}</strong>


                <hr>

                <br>


                <p> {{item.description}} </p>

                <div class="border">

                    <div class="col border-bottom">

                        <div class="row p-3">
                            <div class="col-6"> Price </div>
                            {% comment %}
                            {% if item.discount %}
                            <div class="col-6 text-end"><span class="text-decoration-line-through fw-bold text-danger">$ {{item.price}} <span class="badge rounded-pill bg-info">discount</span></span> <span class="h4 fw-bold">$ {{item.get_discounted_price}}</span></div>
                            {% else%}
                            <div class="col-6 text-end"><span class="h4 fw-bold">$ {{item.price}}</span></div>
                            {% endif %}
                            {% endcomment %}

                        </div>

                    </div>

                    <div class="col">

                        <div class="row p-3">

                            <div class="col-6">


                                <label for="select">Qty</label>

                                &nbsp;

                                <select id="select">

                                    <option value="1">1</option>

                                    <option value="2">2</option>

                                    <option value="3">3</option>

                                    <option value="4">4</option>

                                </select>

                            </div>

                            <div class="col-6 text-end">

                                <button type="button" id="add-button" value="{{item.id}}"
                                    class="btn btn-secondary btn-sm">

                                    Add to cart

                                </button>


                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <br>
{% comment %}
    {% include 'recommend/recommendation.html' %}
{% endcomment %}

</div>

<script>
    const add_button = document.getElementById('add-button')
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:add_to_cart" %}',
            data: {
                item_id: add_button.value,
                item_qty: $('#select option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'POST'
            },
            success: function (response) {
                document.getElementById('lblCartCount').textContent = response.qty // update the number label next to the cart symbol in the navbar
                add_button.disabled = true
                add_button.innerText = "Added to cart"
                add_button.className = "btn btn-success btn-sm"

            },
            error: function (error) {
                console.log(error) // TODO add to server logs later
            }
        })

    })


</script>

{% endblock %}